.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    /* gap: 24px; */
  }

  .columns > div > div {
    /* flex: 1; */
    order: unset;
    text-align: center;
   
  }


}


.columns block.columns-2-cols div {
  text-align: center;
}

.columns.block.columns-2-cols > div > div > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 0; /* Optional to remove any indentation */
  text-decoration: underline;
  
}

.columns.block.columns-2-cols > div > div > ul a{
  color: black;
  
}